* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.star-rating {
    direction: rtl;
}

.star {
    font-size: 5em;
    color: lightgray;
    cursor: pointer;
}

.star:hover,
.star:hover~.star {
    color: gold;
}