:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  font-size: 2rem;
}
b {
  font-size: 2rem;
}

button {
  outline: 0;
  border: 0;
  font-size: 3rem;
  background: transparent;
  cursor: pointer;
}
