.App {
  text-align: center;
}

li {
  list-style: none;
}

.movie-container > ul {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.movie-container ul > li {
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 1rem;
}

.movie-container ul > li > img {
  width: 200px;
  height: 200px;
}


.parent {
  border: 1px solid rgb(197, 6, 6);
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(197, 6, 6);
}

.child {
  border: 1px solid rgb(27, 3, 107);
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(27, 3, 107);
}