:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.2rem;
}
button:hover {
  border-color: #010438;
}
button:focus,
button:focus-visible {
  outline: 0rem auto -webkit-focus-ring-color;
}
svg {
  width: 30px;
  height: 25px;
  background-color: rgba(159, 156, 250, 0.5);
  border-radius: 4px;
  padding: 2px;
}
svg:focus,
svg:focus-visible {
  outline: 0.1rem auto -webkit-focus-ring-color;
}
